In [1]:
from sklearn.ensemble import RandomForestClassifier

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("titanic.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
data["Cabin"].isnull().value_counts()

True     687
False    204
Name: Cabin, dtype: int64

In [7]:
data["PassengerId"].value_counts()

891    1
293    1
304    1
303    1
302    1
      ..
591    1
590    1
589    1
588    1
1      1
Name: PassengerId, Length: 891, dtype: int64

In [11]:
data["Age"].isnull().value_counts()

False    714
True     177
Name: Age, dtype: int64

In [13]:
X=data[["Pclass","Age","SibSp","Parch","Fare"]]

In [14]:
y=data["Survived"]

In [15]:
from sklearn.model_selection import train_test_split as tts

In [17]:
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.3)

In [18]:
X_train

     Pclass   Age  SibSp  Parch      Fare
664       3  20.0      1      0    7.9250
268       1  58.0      0      1  153.4625
158       3   NaN      0      0    8.6625
436       3  21.0      2      2   34.3750
543       2  32.0      1      0   26.0000
..      ...   ...    ...    ...       ...
85        3  33.0      3      0   15.8500
280       3  65.0      0      0    7.7500
418       2  30.0      0      0   13.0000
750       2   4.0      1      1   23.0000
533       3   NaN      0      2   22.3583

[623 rows x 5 columns]

In [19]:
X_test

     Pclass   Age  SibSp  Parch     Fare
630       1  80.0      0      0  30.0000
640       3  20.0      0      0   7.8542
102       1  21.0      0      1  77.2875
703       3  25.0      0      0   7.7417
596       2   NaN      0      0  33.0000
..      ...   ...    ...    ...      ...
685       2  25.0      1      2  41.5792
711       1   NaN      0      0  26.5500
810       3  26.0      0      0   7.8875
468       3   NaN      0      0   7.7250
542       3  11.0      4      2  31.2750

[268 rows x 5 columns]

In [21]:
rfc=RandomForestClassifier()

In [23]:
rfc.fit(X,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').